{% load static crispy_forms_tags %}

<div class="modal fade" id="batch-form-modal" tabindex="-1" aria-labelledby="batch-form-modalLabel"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="batch-form-modalLabel">Batch Form</h5>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'masters:batch_create' %}" class="" id="batch-form">
                    {% csrf_token %}
                    {{ batch_form|crispy }}
                    <div class="modal-footer mt-4">
                        <button type="button" class="btn btn-outline-grey" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>