{% load static %}
<aside class="app-sidebar sticky" id="sidebar">

    <!-- Start::main-sidebar-header -->
    <div class="main-sidebar-header">
        <a href="{% url 'core:home' %}" class="header-logo">
            <img src="{% static 'app/assets/images/brand-logos/desktop-logo.png' %}" alt="logo" class="desktop-logo">
            <img src="{% static 'app/assets/images/brand-logos/toggle-logo.png' %}" alt="logo" class="toggle-logo">
            <img src="{% static 'app/assets/images/brand-logos/desktop-dark.png' %}" alt="logo" class="desktop-dark">
            <img src="{% static 'app/assets/images/brand-logos/toggle-dark.png' %}" alt="logo" class="toggle-dark">
            <img src="{% static 'app/assets/images/brand-logos/desktop-white.png' %}" alt="logo" class="desktop-white">
            <img src="{% static 'app/assets/images/brand-logos/toggle-white.png' %}" alt="logo" class="toggle-white">
        </a>
    </div>
    <!-- End::main-sidebar-header -->

    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">

        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
             <!-- Start::Sidebar User -->
            <div class="app-sidebar__user mb-3">
                <div class="dropdown user-pro-body text-center user-pic">
                    <span class="avatar avatar-xxl online avatar-rounded">
                        <img src="{% static 'app/assets/images/users/16.jpg' %}" alt="img">
                    </span>
                    <div class="user-info mt-1">
                        <h5 class=" mb-1">Abigali kelly</h5>
                        <span class="text-muted app-sidebar__user-name text-sm">App Developer</span>
                    </div>
                </div>
            </div>
             <!-- End::Sidebar User -->
            <div class="slide-left" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg>
            </div>
            <ul class="main-menu">

                <!-- Start::slide -->
                <li class="slide ">
                    <a href="{% url 'core:home' %}" class="side-menu__item {% if is_home %}active{% endif %}">
                        <i class="fe fe-home side-menu__icon"></i>
                        <span class="side-menu__label">Dashboard</span>
                    </a>
                </li>

                <li class="slide ">
                    <a href="{% url 'masters:pdf_book_list' %}" class="side-menu__item {% if is_pdf_book %}active{% endif %}">
                        <i class="la la-file-pdf side-menu__icon"></i>
                        <span class="side-menu__label">PDF Book</span>
                    </a>
                </li>

                <li class="slide ">
                    <a href="{% url 'admission:fee_receipt_list' %}" class="side-menu__item {% if fee_reciept %}active{% endif %}">
                        <i class="la la-file-invoice-dollar side-menu__icon"></i>
                        <span class="side-menu__label">Fee Receipt</span>
                    </a>
                </li>

                <li class="slide ">
                    <a href="{% url 'admission:fee_overview_list' %}" class="side-menu__item {% if fee_overview %}active{% endif %}">
                        <i class="la la-file-invoice side-menu__icon"></i>
                        <span class="side-menu__label">Fee Overview</span>
                    </a>
                </li>

                <!-- Start::slide -->
                    <li class="slide">
                        <a href="{% url 'masters:course_syllabus_list' request.user.student.course.pk %}" 
                        class="side-menu__item {% if is_course_syllabus %}active{% endif %}">
                        <i class="la la-book side-menu__icon"></i>
                        <span class="side-menu__label">Syllabus</span>
                        </a>
                    </li>
                <!-- End::slide -->

                <li class="slide">
                    <a href="{% url 'masters:feedback_create' %}" class="side-menu__item {% if is_feedback %}active{% endif %}">
                        <i class="la la-comment-dots side-menu__icon"></i>
                        <span class="side-menu__label">Feedback</span>
                    </a>
                </li>

                <li class="slide">
                    <a href="{% url 'masters:leave_request_create' %}" class="side-menu__item {% if is_leave_request_form %}active{% endif %}">
                        <i class="la la-plus-circle side-menu__icon"></i>
                        <span class="side-menu__label">Leave Request</span>
                    </a>
                </li>

                <li class="slide">
                    <a href="{% url 'masters:leave_request_list' %}" class="side-menu__item {% if is_leave_request %}active{% endif %}">
                        <i class="la la-list-alt side-menu__icon"></i>
                        <span class="side-menu__label">My Leave Requests</span>
                    </a>
                </li>

                
                <li class="slide ">
                    <a href="{% url 'masters:employee_chat_list' %}" class="side-menu__item {% if is_mentor_chat_session %}active{% endif %}">
                        <i class="la la-comments side-menu__icon"></i>
                        <span class="side-menu__label">Chat Session</span>
                    </a>
                </li>

                <!-- Start::slide -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item {% if is_master %} active {% endif %}">
                        <i class="la la-cog side-menu__icon"></i>
                        <span class="side-menu__label">Masters</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0);">Masters</a>
                        </li>
                       
                        <li class="slide">
                            <a href="{% url 'masters:update_list' %}" class="side-menu__item {% if is_update %}active{% endif %}">Updates</a>
                        </li>

                        <li class="slide">
                            <a href="{% url 'masters:complaint_create' %}" class="side-menu__item {% if is_complaint_register %}active{% endif %}">Complaint Register</a>
                        </li>

                        <li class="slide">
                            <a href="{% url 'masters:complaint_list' %}" class="side-menu__item {% if is_complaint %}active{% endif %}">My Complaints</a>
                        </li>

                        <li class="slide">
                            <a href="{% url 'masters:events' %}" class="side-menu__item {% if is_events %}active{% endif %}">Events</a>
                        </li>

                    </ul>
                </li>
                <!-- End::slide -->

                {% if not is_student_send_placement_request %}
                    <li class="slide">
                        <a href="{% url 'masters:placement_request_create' %}"
                        class="side-menu__item {% if is_placement_request %}active{% endif %}">
                            <i class="la la-question-circle side-menu__icon"></i>
                            <span class="side-menu__label">Placement Request</span>
                        </a>
                    </li>

                {% else %}
                    <li class="slide">
                        <a href="{% url 'masters:placement_request_detail' request.user.student.pk %}"
                        class="side-menu__item {% if is_placement_request %}active{% endif %}">
                            <i class="la la-question-circle side-menu__icon"></i>
                            <span class="side-menu__label">Placement View</span>
                        </a>
                    </li>
                {% endif %}


            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
            
        </nav>
        <!-- End::nav -->

    </div>
    <!-- End::main-sidebar -->

</aside>